{% extends 'base.html.twig' %}
{% block title %}
    Register
{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-4 mt-5">
                <h1 class="mb-3 font-weight-normal">
                    Enregistrement
                </h1>
                <div class=" card p-4">
                {{ form_errors(registrationForm) }}
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                <button type="submit" class="btn btn-primary">
                    M'enregistrer
                </button>
                {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
