{% extends 'base.html.twig' %}
{% block title %}
    {{ figure.title }}
    - SnowTricks
            
        
    
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="card align-items-center mt-4 pt-4">
                <h1>
                    {{ figure.title }}
                </h1>
                <div class="card-body">
                    {% if app.user %}
                        <div class="d-flex iconCard position-absolute z-2">
                            <a class="nav-link m-1" href="{{ path('update_figure', {figure: figure.id}) }}">
                                <i class="fa-solid fa-pencil"></i>
                            </a>
                            <a class="nav-link m-1" href="{{ path('delete_figure', {id: figure.id}) }}" onclick="return confirm('Voulez vous vraiment supprimer {{ figure.title }} ?')">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                    {% if figure.image[0] is defined %}
                        
                        <img class="card-img-top imgDetail img-thumbnail mb-5" src="{{ asset('assets/uploads/') ~ figure.title ~ ('/') ~ figure.image[0].name }}" alt="{{ figure.title }}">
                        </div>
                            <div class="d-flex flex-wrap flex-md-nowrap">
                                <div class="justify-content-center <-100>">
                                    <div id="carouselImg" class="carousel slide">
                                        <div class="carousel-inner">
                                            {% for image in figure.image %}
                                                <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                                                    <img class="" src="{{ asset('assets/uploads/') ~ figure.title ~ ('/mini/300x300-') ~ image.name }}" alt="{{ figure.title }}">
                                                    </div>
                                                
                                            {% endfor %}
                                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselImg" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">
                                                    Previous
                                                                                                                                                                                    
                                                                                                                                        
                                                                                            
                                                </span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#carouselImg" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">
                                                    Next
                                                                                                                                                                                    
                                                                                                                                        
                                                                                            
                                                </span>
                                            </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if figure.videos is defined %}
                                    <div class="w-100">
                                        <div id="carouselVideo" class="carousel slide">
                                            <div class="carousel-inner">
                                                {% for video in figure.videos %}
                                                    <div class="carousel-item {{ (loop.first) ? 'active' : '' }}">
                                                        <iframe class="w-100 ms-3" src="{{ video.name }}" frameborder="0"></iframe>
                                                    </div>
                                                {% endfor %}
                                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideo" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">
                                                        Previous
                                                                                                                                                                                                
                                                                                                                                                    
                                                                                                        
                                                    </span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-bs-target="#carouselVideo" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">
                                                        Next
                                                                                                                                                                                                
                                                                                                                                                    
                                                                                                        
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div>
                                {{ figure.description|nl2br }}
                            </div>
                        </div>
                        <div class="card-footer">
                            Crée le : 
                            {{ figure.DatetimeAdd|date("H:m:s d/m/Y") }}
                            {% if figure.DateUpdate != null %}
                                Modifié le : 
                                {{ figure.DateUpdate|date("H:m:s d/m/Y")}}
                                {% endif %}

                        </div>
                        
                        {% if app.user %}
                            {{ form_start(commentForm) }}
                            {{ form_row(commentForm.comment) }}
                            <button type="submit" class="btn btn-primary">
                                Envoyer
                            </button>
                            {{ form_end(commentForm) }}
                        {% endif %}
                        <div class="justify-content-center">
                            {% if getComment %}
                                <table class="table table-Secondary table-striped mt-4">
                                    
                            {% for c in getComment.data %}
                                <tr>
                                    <th scope="row">
                                    <td>{{ c.comment|nl2br }}</td>
                                    <td>
                                        {% if c.connect.imguser != null %}
                                            <img class="imgUserFigure" src="{{ asset('assets/uploads/') ~ c.connect.username ~ ('/') ~ c.connect.imguser }}" alt="">
                                        {% endif %}
                                    {{ c.connect.username }}
                                    {{ c.date|date("H:m:s d/m/Y") }}</td>
                                    </th>
                               </tr>
                            {% endfor %}
                            </table>
                            <hr></div>
                            {% set path = 'detail_figure' %}
                            {% set pages = getComment.pages %}
                            {% set currentPage = getComment.page %}
                                
                            {% if pages > 1 %}
                                <nav>
                                    <ul class="pagination">
                                        {% if currentPage > 1 %}
                                            <li class="page-item">
                                                <a href="{{ path(path, {slug: figure.slug, page: currentPage - 1}) }}" class="page-link">
                                                    &lt;
                                                </a>
                                            </il>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link">
                                                    &lt;
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% for page in 1..pages %}
                                            <li class="page-item {{ page == currentPage ? 'active' }}">
                                                <a href="{{ path(path, {slug: figure.slug, page: page}) }}" class="page-link">
                                                    {{ page }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {% if currentPage < pages %}
                                            <li class="page-item">
                                                <a href="{{ path(path, {slug: figure.slug, page: currentPage + 1}) }}" class="page-link">
                                                    &gt;
                                                </a>
                                            </li>
                                        {% else %}
                                            <li class="page-item disabled">
                                                <a class="page-link">
                                                    &gt;
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
