{% extends 'base.html.twig' %}
{% block title %}Mise à jour de {{ figure.title }}{% endblock %}

{% block body %}
    <div class="container d-flex">
        <div class="row">
    <h1>Mise à jour de {{ figure.title }}</h1>
    
    {{ form_start(updateForm) }}
        {{ form_row(updateForm.title, {'value' : figure.title}) }}
        {{ form_row(updateForm.description, {'value' : figure.description}) }}
        {{ form_row(updateForm.categories) }}
        {{ form_row(updateForm.image) }}
        {{ form_row(updateForm.videos) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(updateForm) }}
    </div>
    
    <div class="row flex-column">
    {% if figure.image[0] is defined %}
    {% for image in figure.image %}
        <img class="updateImg" src="{{ asset('assets/uploads/') ~ figure.title ~ ('/mini/300x300-') ~ image.name }}" alt="{{figure.title}}">
        <a class="text-decoration-none" href="{{ path('delete_img', {figure: figure.id, id: image.id} ) }}">
        <button type="submit"> Supprimer </button>
        </a>
    {% endfor %}
    {% endif %}
    </div>
    <div class="row flex-column">
        {% if figure.videos is defined %}
            {% for v in figure.videos%}
                <iframe src="{{ v.name }}" frameborder="0"></iframe>
                <a class="text-decoration-none" href="{{ path('delete_video', {figure: figure.id, id: v.id} ) }}">
            <button type="submit"> Supprimer </button>
            </a>
            {% endfor %}
        {% endif %}
    </div>
    </div>
{% endblock %}
