{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
    <h1>Mise à jour de {{ figure.title }}</h1>
    
    {{ form_start(updateForm) }}
        {{ form_row(updateForm.title, {'value' : figure.title}) }}
        {{ form_row(updateForm.description, {'value' : figure.description}) }}
        {{ form_row(updateForm.categories) }}
        {{ form_row(updateForm.image) }}
        {{ form_row(updateForm.videos) }}
        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
    {{ form_end(updateForm) }}
    </div>
    </div>
{% endblock %}