{% extends 'base.html.twig' %}

{% block title %}Votre Profil{% endblock %}

{% block body %}
    
<div class="container">
    <h1>Bienvenue sur votre profil {{ app.user.username }}</h1>

    {% if app.user.imguser != null %}
        <div class="container">
        <img class="img-thumbnail" src="{{ asset('assets/uploads/') ~ app.user.username ~ ('/mini/250x250-') ~ app.user.imguser }}" alt="{{ app.user.username }}">
        <a class="text-decoration-none" href="{{ path('delete_img_profil') }}">
        <button type="submit"> Supprimer </button>
        </a>
        </div>
    {% endif %}
    
    

    {{ form_start(profilForm) }}
    {{ form_row(profilForm.username)}}
    {{ form_row(profilForm.email)}}
    {{ form_row(profilForm.imguser)}}
    <button type="submit" class="btn btn-success"> Envoyer </button>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Changer votre mot de passe
    </button>
    {{ form_end(profilForm) }}
    {% include '_partials/modalProfil.html.twig' %}
</div>
{% endblock %}
